
*.properties

.gradle/2.0/taskArtifacts/cache.properties.lock

.gradle/2.0/taskArtifacts/fileHashes.bin

.gradle/2.0/taskArtifacts/fileSnapshots.bin

.gradle/2.0/taskArtifacts/outputFileStates.bin

.gradle/2.0/taskArtifacts/taskArtifacts.bin

.gradle/gradle.log

libs/enkilib-b-1-0.jar

libs/enkilib.jar
